@font-face {
    font-family: 'pixel';
    src: url(./Fonts/pixeloid-font/PixeloidSans-mLxMm.ttf)format('opentype');
}

body {
    background-color: #6C9D85;
}

canvas {
    position: fixed;
    top: 5%;
    left: 25%;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px black;
}

.contorls {
    font-family: 'pixel', sans-serif;
}

